*{
    margin: 0;
    padding: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #000;
  margin-right: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flexbox;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #832ae2;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #832ae2;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(140px);
  transform: translateX(140px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(245px);
  transform: translateX(245px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(355px);
  transform: translateX(355px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


#clarusway{
    background-image: url(./img/moda.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
    font-family: Lato, sans-serif;
    letter-spacing: 0.5rem;
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 2rem;
    border-radius: 2rem 0 2rem 0;
    outline: inset 0.5rem purple;
    outline-offset: 1rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.kısım1 {
    background-color: aliceblue;
    color:black;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 2% 15%;
    opacity: 0.7;
}


#claruswaylogo {
    background-image: url(./img/WhatsApp\ Görsel\ 2023-07-04\ saat\ 18.02.34.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    /* background-size: cover; */
}

.kısım2 {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 2% 15%;
    opacity: 0.7;
}

img {
    width: 50vw;
    height: auto;
}

#resim3 {
    background: url(./img/56216503-4e98-4528-8f9a-b353318465a3.jpg) no-repeat center center fixed;
    background-size: cover;
}

#claruswayteam {
    background-image: url(./img/Ekran\ görüntüsü\ 2023-07-04\ 170018.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
